@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
  }
}

.app-message-box .modal-header {
  padding-bottom: 0.5rem;
}

.app-message-box .modal-title {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-message-box .user-image {
  height: 40px;
}

.app-message-box .modal-body {
  min-height: 400px;
  max-height: 400px;
  max-width: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.app-message-box .modal-footer {
  background-color: #e6f1ff;
}
